---
export interface Props {
  href: string;
  text: string;
  iconName: string;
}

const { href, text, iconName } = Astro.props;
---

<custom-button class="custom-button" data-href={href} data-text={text}>
  <button id={text}>
    <i class="material-icons">{iconName}</i>
    <p>
      {text}
    </p>
  </button>
</custom-button>

<style>
  button {
    display: flex;
    width: 100%;
    margin: 10px 0 10px 0;
  }
  button > i {
    margin: auto 10px;
  }
</style>

<script>
  class CustomButton extends HTMLElement {
    constructor() {
      super();

      const href = this.dataset.href;
      const text = this.dataset.text;
      const button = this.querySelector(`#${text}`);

      if (button) {
        button.addEventListener("click", () => {
          window.location = href;
        });
      }
    }
  }

  customElements.define("custom-button", CustomButton);
</script>
