---
import ErrorDisplay from "../../components/ErrorDisplay.astro";
import CardHeader from "../../components/ult/card/CardHeader.astro";
import UltContainer from "../../components/ult/UltContainer.astro";
import {apiCall, tryConnection} from "../../helpers/index";
import Layout from "../../layouts/Layout.astro";

const { username: usernameParam } = Astro.params;

const connected = await tryConnection();
const {error, code, data} =
  connected !== true ? connected : await apiCall(`/user/${usernameParam}`);
---

<Layout title={`${usernameParam} - profile`}>
  <>
  <!-- TODO: <CardHeader /> -> <ProfileHeader /> -->
  {
    !error ? (
      <CardHeader user={data} />
      <h3>Last user ults</h3>
      <UltContainer data={data} />
      ) : (
        <ErrorDisplay message={data} code={code} />
    )
  }
  </>
</Layout>