---
import type { UserType } from "../../../types";

export interface Props {
  user: UserType;
}
const { user } = Astro.props;
const { profilePicture, name, username } = user;
---

<div class="card-header">
  <!-- TODO: on click image, redirect to the user profile -->
  <!-- <a href={`/profile/${username}`}> -->
  <img
    class="card-header-img"
    src={profilePicture}
    alt={`${username} profile picture`}
  />
  <!-- </a> -->
  <div class="user-info">
    <p>{name}</p>
    <b>@{username}</b>
  </div>
</div>

<style>
  .card-header {
    display: flex;
    height: 50px;
  }
  .user-info {
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 20px;
  }
  p {
    margin: 0;
  }
</style>
